---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ricardo Parra - @ricardojparram Desarrollador WEB">
  <main class="z-10 max-w-[800px] w-full h-full">
    <h1>Hola</h1>
  </main>
  <nav class="fixed inset-x-0 bottom-0 z-20 mb-4 flex">
    <ul
      class="relative mx-auto flex gap-4 rounded-full border border-slate-800/80 bg-gradient-to-b from-slate-700/30 to-transparent backdrop-blur-2xl px-6 py-2 text-white font-bold shadow-md"
    >
      <li><a href="">Experiencia</a></li>
      <li><a href="">Proyectos</a></li>
      <li><a href="">Sobre mí</a></li>
    </ul>
  </nav>
</Layout>
