---
import Section from "../components/Section.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import HeroSection from "../components/HeroSection.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Layout from "../layouts/Layout.astro";
import Phone from "../components/icons/Phone.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Ricardo Parra - Desarrollador Web con +3 años de experiencia.">
  <main class="w-full h-full flex flex-col gap-16">
    <Section id="hero">
      <HeroSection />
    </Section>
    <Section id="work-experience" title="Experiencia laboral">
      <WorkExperience />
    </Section>
    <Section id="projects" title="Proyectos">
      <Projects />
    </Section>
  </main>
</Layout>
