{
  Astro.props.link ? (
    <a
      {...Astro.props}
      href={Astro.props.link}
      target="_blank"
      class="flex group bg-gradient-to-b from-slate-700 shadow-sm to-slate-800 text-slate-100 font-bold transition-all duration-200 hover:scale-105 rounded-lg p-[5px]"
    >
      <span class="flex gap-2 items-center h-full opacity-70 group-hover:opacity-100 pr-2 pl-1">
        <slot />
      </span>
    </a>
  ) : (
    <button
      class="group bg-gradient-to-b from-slate-700 shadow-sm to-slate-800 text-slate-100 font-bold transition-all duration-200 hover:scale-105 rounded-lg p-[5px]"
      {...Astro.props}
    >
      <span class="flex gap-2 items-center h-full opacity-70 group-hover:opacity-100 px-2">
        <slot />
      </span>
    </button>
  )
}
