---
import { PortableText } from "astro-portabletext";
import { client, urlFor } from "../lib/sanity";

const profile = await client.fetch(`*[_type == "profile"][0]{
  name,
  role,
  location,
  bio,
  image
}`);

const props = Astro.props;
---

<header class="max-w-[700px] h-dvh mx-auto flex flex-col gap-4 justify-center">
  <div class="mb-5 flex flex-col justify-start items-center md:flex-row gap-6">
    <div
      data-animate="0.2"
      class="rounded-full border-4 border-slate-700 dark:border-slate-300 w-30 h-30 md:w-40 md:h-40 aspect-square overflow-hidden hover:scale-105 transition-transform"
    >
      <img
        src={profile?.image ? urlFor(profile.image).url() : "/profile.webp"}
        alt={profile?.name || "Ricardo Parra"}
        class="w-full h-full object-cover"
      />
    </div>
    <div
      data-animate="0.3"
      class="flex flex-col gap-3 justify-center text-center md:text-start"
    >
      <h1
        class="font-bold text-2xl md:text-4xl flex flex-col text-slate-700 dark:text-slate-100"
      >
        {profile?.name || "Ricardo Parra"}
        <span
          class="text-slate-600 mt-1 dark:text-slate-300 font-medium text-lg md:text-2xl"
          >{profile?.role || "Desarrollador WEB"}</span
        >
      </h1>
      <span class="text-slate-600 dark:text-slate-300 text-base md:text-xl">
        {profile?.location || "🇻🇪 Barquisimeto, Lara. Venezuela"}
      </span>
    </div>
  </div>

  <div
    class="flex flex-col gap-5 p-2 text-base md:text-xl text-pretty bio-content"
  >
    {profile?.bio && <PortableText value={profile.bio} />}
    <p>
      Te invito a conocer, mi perfil profesional y tecnologías que uso mirando
      mi
      <a
        href="#work-experience"
        class="anchor-hover px-1 py-px font-bold underline underline-offset-4 transition-all"
        >experiencia laboral</a
      >, <a
        href="#projects"
        class="anchor-hover px-1 py-px font-bold underline underline-offset-4 transition-all"
        >mis proyectos</a
      >, o <a
        href="#contact"
        class="anchor-hover px-1 py-px font-bold underline underline-offset-4 transition-all"
        >Contactándome!</a
      >.
    </p>
  </div>
</header>

<style is:global>
  .bio-content strong {
    color: #84cc16; /* lime-500 */
    font-weight: 700;
  }
</style>
