---
import Button from "../components/Button.astro";
import Email from "../components/icons/Email.astro";
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";
const contacts = [
  { icon: Email, title: "Contáctame", link: "mailto:ricardo.prxr16@gmail.com" },
  { icon: Github, title: "Github", link: "https://github.com/ricardojparram" },
  {
    icon: Linkedin,
    title: "LinkedIn",
    link: "https://linkedin.com/in/ricardojparram/",
  },
];
---

<div class="flex flex-col gap-5">
  <div class="flex gap-5 pt-12">
    <div
      class="rounded-full min-w-24 w-24 h-24 aspect-square overflow-hidden hover:scale-105 transition-transform"
    >
      <img src="/profile.webp" alt="Ricardo Parra" class="" />
    </div>
    <div class="flex flex-col justify-center">
      <h1 class="font-bold text-2xl flex flex-col">
        Ricardo Parra
        <span class="text-slate-300 font-medium text-lg">Desarrollador WEB</span
        >
      </h1>
      <span class="text-slate-300 text-base">
        🇻🇪 Barquisimeto, Lara. Venezuela
      </span>
    </div>
  </div>
  <div class="flex flex-col px-1">
    <ul class="flex gap-2 flex-wrap text-slate-300 text-base">
      {
        contacts.map((i) => (
          <li>
            <Button link={i.link} title={i.title}>
              <i.icon class="w-5 h-5" />
              {i.title}
            </Button>
          </li>
        ))
      }
    </ul>
  </div>
  <h2 class="text-xl text-pretty max-w-[600px]">
    +3 años de Experiencia.
    <strong class="text-[#98f28c]">
      Desarrollador de WEB Full-Stack especializado en Front-End.
    </strong>
    Perfeccionista y apasionado a la hora de sobrepasar las espectativas del cliente.
  </h2>
</div>
