---
import Button from "../components/Button.astro";
import Email from "../components/icons/Email.astro";
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";
const contacts = [
  { icon: Email, title: "Contáctame", link: "mailto:ricardo.prxr16@gmail.com" },
  { icon: Github, title: "Github", link: "https://github.com/ricardojparram" },
  {
    icon: Linkedin,
    title: "LinkedIn",
    link: "https://linkedin.com/in/ricardojparram/",
  },
];
---

<div class="flex flex-col gap-5">
  <h2 class="text-xl text-pretty max-w-[600px]">
    +2 años de Experiencia.
    <strong class="text-lime-500 dark:text-lime-400">
      Desarrollador WEB Full-Stack especializado en front-end.
    </strong>
    Perfeccionista y apasionado a la hora de sobrepasar las espectativas del cliente.
  </h2>
  <div class="flex flex-col px-1">
    <ul class="flex gap-3 flex-wrap text-slate-300 text-base">
      {
        contacts.map((i) => (
          <li>
            <Button link={i.link} title={i.title}>
              <i.icon class="w-5 h-5" />
              {i.title}
            </Button>
          </li>
        ))
      }
    </ul>
  </div>
</div>
