<section class="flex flex-col gap-8 text-xl">
  <h2 class="text-3xl font-bold flex gap-2 items-center">
    <slot name="icon" />
    <slot name="title" />
  </h2>
  <article>
    <slot />
  </article>
</section>
