---
interface Props {
  id: string;
}
const { id } = Astro.props;
---

<section class="flex flex-col gap-8 text-xl" id={id}>
  <h2 class="text-3xl font-bold flex gap-2 items-center">
    <slot name="icon" />
    <slot name="title" />
  </h2>
  <slot />
</section>
