---
import Astro from "./icons/Astro.astro";
import Moon from "./icons/Moon.astro";
import Sun from "./icons/Sun.astro";
---

<span>
  <label
    class="relative cursor-pointer p-2 text-slate-700 dark:text-slate-200"
    for="theme-switch"
  >
    <input
      type="checkbox"
      name="theme-switch"
      id="theme-switch"
      class="theme-switch sr-only"
      aria-label="Input for changing theme to dark or light"
    />
    <Sun class="hidden dark:block w-8 h-8" />
    <Moon class="dark:hidden w-8 h-8" />
  </label>
</span>
<script is:inline>
  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }

  const toggleTheme = () => {
    const theme = localStorage.theme;
    if (theme === "light") {
      localStorage.theme = "dark";
      document.documentElement.classList.add("dark");
    } else {
      localStorage.theme = "light";
      document.documentElement.classList.remove("dark");
    }
  };

  const $switch = document.querySelector("#theme-switch");
  if ($switch) {
    $switch.addEventListener("click", function () {
      toggleTheme();
    });
  }
</script>
