---
const jobs = [
  {
    role: "Desarrollador Full-Stack",
    company: "Alcaldía de Iribarren",
    date: "2024 - Actualmente",
    info: [
      "Desarrollo sistemas administrativos internos, refactorizo y rediseño sistemas antiguos que se utilizan en los distintos departamentos.",
      "Busco nuevas propuestas para la optimización de los procesos dentro del departamento de informática.",
      "Instruyo a pasantes universitarios, enseñándoles sobre el desarrollo web básico con tecnologías como: HTML, CSS3, Javascript y Tailwind.",
    ],
    active: true,
  },
  {
    role: "Desarrollador Web",
    company: "Fundación Centro Médico Wesley",
    date: "2023 - 2024",
    info: [
      "Desarrollé una aplicación web para la gestión de inventario. Solucioné junto a mi equipo la mala administración de inventario médico entre las sedes de la fundación.  Mejoramos la organización del inventario, y optimizamos el proceso de movimiento de éste.",
      "Lideré el desarrollo de una aplicación móvil que tiene como función principal el reporte del inventario por sedes y todos sus movimientos.",
    ],
    active: false,
  },
  {
    role: "Pasante",
    company: "Farmacia MediSalud C.A",
    date: "2022 - 2023",
    info: [
      "Realicé un e-commerce para la farmacia, así como un sistema inventario para la gestión de inventario y ventas online o presenciales. Ésta aplicación web implementó una mejor organización para las ventas e inventario.",
    ],
    active: false,
  },
];
---

<div class="w-full h-full p-4" id="experience-container">
  <div class="space-y-8 relative py-16">
    <div
      class="absolute inset-0 ml-0 translate-x-px md:mx-auto md:translate-x-0 h-full w-1 bg-gradient-to-b from-transparent via-slate-400 to-transparent"
    >
    </div>
    {
      jobs.map((job) => (
        <div
          class:list={[
            "relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group",
            { "is-active": job.active },
          ]}
        >
          <div class="flex items-center justify-center w-5 h-5 rounded-full border-4 group-hover:scale-125 transition-all border-bg bg-slate-400 group-[.is-active]:bg-lime-500 text-slate-500 group-[.is-active]:text-emerald-50  shrink-0 md:order-1 -translate-x-[7px] md:group-odd:-translate-x-[30px] md:group-even:translate-x-[30px]" />
          <div class="text-color w-[calc(100%-1rem)] md:w-[calc(50%-2.5rem)] p-4 rounded group-hover:scale-105 transition-all">
            <div class="flex flex-col space-x-2 mb-2">
              <time class="text-base italic">{job.date}</time>
              <h3 class="text-xl font-bold text-lime-500">{job.company}</h3>
              <h4 class="text-lg font-medium">{job.role}</h4>
            </div>
            <div class="text-base flex flex-col gap-3">
              {job.info.map((info) => (
                <p>{info}</p>
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
