---
import type { ACTION_ERROR_CODES } from "astro:actions";
import Button from "./Button.astro";

const jobs = [
  {
    role: "Desarrollador Full-Stack",
    company: "Alcaldía de Iribarren",
    date: "2024 - Actualmente",
    info: [
      "Desarrollo sistemas administrativos internos, refactorizo y rediseño sistemas antiguos que se utilizan en los distintos departamentos.",
      "Busco nuevas propuestas para la optimización de los procesos dentro del departamento de informática.",
      "Instruyo a pasantes universitarios, enseñándoles sobre el desarrollo web básico con tecnologías como: HTML, CSS3, Javascript y Tailwind.",
    ],
  },
  {
    role: "Desarrollador Full-Stack",
    company: "Fundación Centro Médico Wesley",
    date: "2023 - 2024",
    info: [
      "Desarrollé una aplicación web para la gestión de inventario. Solucioné junto a mi equipo la mala administración de inventario médico entre las sedes de la fundación.  Mejoramos la organización del inventario, y optimizamos el proceso de movimiento de éste.",
      "Lideré el desarrollo de una aplicación móvil que tiene como función principal el reporte del inventario por sedes y todos sus movimientos.",
    ],
  },
  {
    role: "Pasante",
    company: "Farmacia MediSalud C.A",
    date: "2022 - 2023",
    info: [
      "Realicé un e-commerce para la farmacia, así como un sistema inventario para la gestión de inventario y ventas online o presenciales. Ésta aplicación web implementó una mejor organización para las ventas e inventario.",
    ],
  },
];
---

<div
  class="relative w-full h-full max-h-[500px] md:max-h-[350px] overflow-y-hidden"
  id="experience-container"
>
  <ol class="flex flex-col gap-8">
    {
      jobs.map((job) => (
        <li class="grid grid-cols-1 md:grid-cols-6 gap-3">
          <div class="col-span-2">
            <h3 class="text-lg text-[#50cf61] font-extrabold ">{job.role}</h3>
            <h4 class="text-base font-bold text-slate-100 ">{job.company}</h4>
            <time class="text-sm text-slate-300">{job.date}</time>
          </div>
          <div class="col-span-4">
            <ul class="flex flex-col gap-2 text-base">
              {job.info.map((info) => (
                <li>{info}</li>
              ))}
            </ul>
          </div>
        </li>
      ))
    }
  </ol>
  <div
    class="absolute flex items-end justify-center text-base bottom-0 w-full h-[150px] md:h-[120px] bg-gradient-to-b from-transparent via-[#0d1521b7] to-[#0d1521]"
  >
    <Button class="px-5" id="more-experience">Ver más...</Button>
  </div>
</div>

<script is:inline>
  const $more_experience = document.querySelector("#more-experience");
  const $experience_container = document.querySelector("#experience-container");
  if ($more_experience) {
    $more_experience.addEventListener("click", function () {
      $experience_container.classList.remove(
        "max-h-[500px]",
        "md:max-h-[350px]"
      );
      $more_experience.parentElement.classList.add("hidden");
    });
  }
</script>
