---
const jobs = [
  {
    role: "Desarrollador Full-Stack",
    company: "Alcaldía de Iribarren",
    date: "2024 - Actualmente",
    info: [
      "Desarrollado sistemas administrativos internos, así como refactorizo y rediseño sistemas antiguos que se utilizan en los distintos departamentos.",
      "Busco nuevas propuestas para la optimización de los procesos dentro del departamento de informática.",
      "Instruyo a pasantes universitarios, enseñándoles sobre el desarrollo web básico con tecnologías como: HTML, CSS3, Javascript y Tailwind.",
    ],
  },
  {
    role: "Desarrollador Full-Stack",
    company: "Fundación Centro Médico Wesley",
    date: "2023 - 2024",
    info: [
      "Desarrollé una aplicación web para la gestión de inventario. Solucioné junto a mi equipo la problematica de la administración de inventario médico entre las sedes de la función.  Se logró mejorar la organización del inventario, así como optimizar el proceso de movimiento del inventario.",
      "Lideré el desarrollo de una aplicación móvil que tiene como función principal consultar el inventario por sedes y todos sus movimientos.",
    ],
  },
  {
    role: "Pasante",
    company: "Farmacia MediSalud C.A",
    date: "2022 - 2023",
    info: [
      "Realicé un e-commerce para la farmacia, así como un sistema inventario para la gestión de inventario y ventas online o presenciales. Ésta aplicación web implementó una mejor organización para las ventas e inventario.",
    ],
  },
];
---

<ol class="flex flex-col gap-14">
  {
    jobs.map((job) => (
      <li class="grid grid-cols-1 md:grid-cols-6 gap-3">
        <div class="col-span-2">
          <h3 class="text-lg text-[#50cf61] font-extrabold ">{job.role}</h3>
          <h4 class="text-base font-bold text-slate-100 ">{job.company}</h4>
          <time class="text-sm text-slate-300">{job.date}</time>
        </div>
        <div class="col-span-4">
          <ul class="flex flex-col gap-2 text-base">
            {job.info.map((info) => (
              <li>{info}</li>
            ))}
          </ul>
        </div>
      </li>
    ))
  }
</ol>
