---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../css/style.css";
import "lenis/dist/lenis.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Contrata a Ricardo Parra para crear tu aplicación web o móvil. +3 años de experiencia en desarrollo web. Especializado en crear aplicaciones únicas."
    />
    <meta
      name="keywords"
      content="Ricardo Parra, ricardojparram, Ricardo J. Parra, desarrollador web, barquisimeto, Lara, desarrollo web iribarren, desarrollo web, programador, programación, rjpm, @ricardojparram, ricardo dev"
    />
    <meta name="author" content="Ricardo Parra" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:url" content="https://ricardojparram.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Ricardo Parra - Desarrollador Web con +3 años de experiencia."
    />
    <meta
      property="og:description"
      content="Contrata a Ricardo Parra para crear tu aplicación web o móvil. +3 años de experiencia en desarrollo web. Especializado en crear aplicaciones únicas."
    />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/images/9196ac1a-674e-458e-a208-b33dd5a404ac.png?token=HHPAjdQdkkl5P_0csBG8wsi7xLOUrzxEgTEUcQxINCY&height=262&width=453&expires=33274029440"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="ricardojparram.vercel.app" />
    <meta property="twitter:url" content="https://ricardojparram.vercel.app/" />
    <meta
      name="twitter:title"
      content="Ricardo Parra - Desarrollador Web con +3 años de experiencia."
    />
    <meta
      name="twitter:description"
      content="Contrata a Ricardo Parra para crear tu aplicación web o móvil. +3 años de experiencia en desarrollo web. Especializado en crear aplicaciones únicas."
    />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/images/9196ac1a-674e-458e-a208-b33dd5a404ac.png?token=HHPAjdQdkkl5P_0csBG8wsi7xLOUrzxEgTEUcQxINCY&height=262&width=453&expires=33274029440"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="https://ricardojparram.vercel.app/" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="min-h-screen relative bg-bg text-text flex flex-col items-center"
  >
    <div
      class="absolute top-0 z-[-2] h-screen w-full bg-transparent bg-[radial-gradient(120%_80%_at_0%_0%,rgba(43,6,193,0.15)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)] dark:bg-[radial-gradient(120%_80%_at_0%_0%,rgba(0,163,255,0.15)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"
    >
    </div>

    <div
      class="absolute top-0 z-[-2] h-full w-full bg-transparent bg-[radial-gradient(ellipse_40%_30%_at_110%_40%,rgba(43,6,193,0.15),rgba(255,255,255,0))]"
    >
    </div>
    <div
      class="absolute top-0 z-[-2] h-full w-full bg-transparent bg-[radial-gradient(ellipse_60%_40%_at_0%_100%,rgba(43,6,193,0.15),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
  </body>
  <script>
    import Lenis from "lenis";
    const lenis = new Lenis({
      lerp: 0.08,
    });

    function raf(time: number) {
      lenis.raf(time);
      requestAnimationFrame(raf);
    }

    requestAnimationFrame(raf);
  </script>
</html>
